body.active-modal {
  overflow-y: hidden;
}

.modal,
.overlay {
  width: 100%;
  height: 100%;
  display: flex;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: white;
  border-radius: 2%;
  width: 50%;
}
.btn-modal {
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 5px;
}
